body {
	background-color: #E6E6E6 ;
	font-family: helvetica;
	font-size: 14px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	text-align: center;
}

h1 {
	font-size: 60px;
	margin: 0px;
	color: #FF1975;	
	margin-top: 20px;
	margin-bottom: 5px;
	line-height: 80px;
}

p {
	line-height: 22px;
	margin:0px;
	color: #3E2B19;
}
.table {
	float: left;
	margin-right: 15px;
	margin-left: 15px;
}

td {
	padding: 3px;
	color: #3E2B19;
	text-align: left;
}


.tableContent {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	display: inline-block;
}

.bottom {
	clear: both;
	font-weight: bold;
	text-align: center;
}



#input {
	border: solid 1px #FF1975;
	border-radius: 6px;
	padding: 10px;
	width: 60%;
	margin-bottom: 25px;
	margin-top: 5px;
	text-align: center;
	line-height: 15px;
	font-size: 15px;

}

#output {
	color: #FF1975;
	width: 60%;
	border: solid 1px #FF1975;
	border-radius: 6px;
	padding: 10px;
	background-color: #fff;
	height: 16px;
	line-height: 16px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}


