


/* MAIN STYLES */
a {
	text-decoration: none;
	color: #392757;
}

a:hover {
	text-decoration: line-through;
	color: #e74632;
}

body {
  font-family: helvetica;
}


hr {
  margin-top: 40px;
  margin-bottom: 60pt;
  border: solid 1pt #808080;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}


/* TOP NAV */

#topNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 60pt;
	width: 100%;
	background-color: #fff;
}

#topNav p {
	float: left;
	padding-left: 35pt;
	font: 18pt Helvetica;
  line-height: 60pt;
  color: #333;
}

#topNav li {
	font: 14pt Helvetica;
  line-height: 62pt;
  float: right;
  padding-right: 30pt;
  color: #333;
}

#topNav li:hover {
  text-decoration: line-through;
  color: #e74632;
  cursor: pointer;
}




/* GO TO TOP */

#top-button{
  display: none;
  z-index: 20;
  position: fixed;
  bottom: 30pt;
  right: 30pt;
  color: #3d3d3d;
  background-color: #fff;
  opacity: 0.6;
  padding: 10pt;
  border-radius: 25pt;
  cursor: pointer;
}

#top-button:hover {
  opacity: 1;
}


#top-button i {
  color:#330066;
}





/* INTRO */

#intro{
  background-image: url(images/fc-image3.jpg);
  height: 700pt;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#intro2{
  width: 100%;
  height: 250pt;
  background-color: #330066;
  color: white;
}

#intro2 p {
  width: 70%;
  font-family:  helvetica;
  color: white;
  font-size: 20pt;
  line-height: 50pt;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2%;
  opacity: 0;
  transform: translateY(30pt);
  transition: all 0.3s ease-in;
}




/* WORKS */


#works{
  background-color: #ccc;
  height: auto;
  font-family: helvetica;
  padding-bottom: 100pt;
  width: 100%;
}

#works .project1, .project2, .project3{
  padding-bottom: 20px;
  height: 100%;
}

#works .project1 {
  padding-top: 100pt;
}


.project-info{
  float: left;
  width: 40%;
  margin-left: 4%;
}

.project-image {
  float: left;
  width: 40%;
  border-radius: 10pt;
  margin-left: 8%;
}

.project-image img{
  width: 100%;
  border-radius: 10pt;
}

#works h2{
  font-size: 40pt; 
  line-height: 40pt;
  color: #330066;
  padding-bottom: 5pt;
  font-weight: bold;
}

#works h3{
  font-size: 18pt; 
  line-height: 25pt;
  color: #3d3d3d;
  padding-bottom: 10pt;
}

#works li {
  font-size: 12pt; 
  line-height: 16pt;
  color: #3d3d3d;
  padding-bottom: 15pt;
  list-style-type: disc;
  margin-left: 15pt;
}

#works ul{
  margin-bottom: 20pt;
  height: 100%;
}

.button-works  {
  font-weight: bold;
  padding: 8pt;
  font-size: 12pt; 
  line-height: 20pt;
  color: #e74632;
  border: #e74632 3pt solid;
  background-color: #ccc;
  cursor: pointer;
}

.button-works:hover {
  text-decoration: none;
  color: white;
  border: #e74632 3pt solid;
  background-color: #e74632;
  transition: all 0.3s ease-in;
}









/* ABOUT */


#about-background {
  background-color: #e74632;
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 50pt;
}

#about {
  transform: translateX(-2000pt);
  opacity: 0;
  transition: all 0.6s ease-in;
}

h2 {
  font-size: 45pt; 
  line-height: 50pt;
  color: #330066;
  padding-bottom: 20pt;
  font-weight: bold;
  color: #ED796B;
}

#about h2{
  padding-top: 80pt;
  padding-left: 10%;
}


#about p, #about ul{
  width: 70%;
  margin-left: 10%;
  border: 2px green;
}


#about li{
  font-size: 18pt;
  line-height: 30pt;
  list-style-type: disc;
  margin-left: 20pt;
}

#about li:last-child {
  font-size: 18pt;
  line-height: 30pt;
  list-style-type: disc;
  margin-left: 20pt;
  padding-bottom: 50pt;
}


#about p{
  font-size: 20pt;
  line-height: 40pt;
  /*padding-top: 30pt;*/
}

#about p:last-child {
  padding-top: 50pt;
  /*padding-top: 30pt;*/
}


#about a{
  color: #F19489;
}






/* MOBILE RESIZING */



@media (max-device-width: 400pt) {
  #intro{
   /* background-image: url(images/fc-image4.jpg);
    height: 400pt;
    background-position: 50% 50%;
    background-repeat: no-repeat;*/
    background-attachment:  scroll !important;
    /*margin-top: 80px;*/
    /*background-size: cover;*/
  }



  #topNav p {
    padding-left: 10pt;
  }

  #topNav li {
   padding-right:15pt;
  }


  #intro2 p {
    width: 90%;
    font-size: 18pt;
    line-height: 26pt;
  }


  .project-info{
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
  }

  .project-image {
    width: 80%;
    margin-left: 10%;
    border-radius: 10pt;
  }

  .project-image img{
    width:100%;
    border-radius: 10pt;
  }

  #works .project1 {
    padding-top: 40pt;
  }

  #works li {
    font-size: 14pt; 
    line-height: 20pt;
    padding-bottom: 15pt;
  }

  #top-button{
    transform: scale(1.5) ;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  #about li{
    font-size: 14pt;
  }

  #about li:last-child {
    font-size: 14pt;
  }


  #about p{
    font-size: 16pt;
    line-height: 28pt;
  }

  #about p, #about ul{
    width: 80%;
  }

}
