


/* MAIN STYLES */
a {
	text-decoration: none;
	color: #392757;
}

a:hover {
	text-decoration: line-through;
	color: #e74632;
}

body {
  font-family: helvetica;
}


hr {
  margin: 60px;
  border: solid 1px #808080;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


/* TOP NAV */

#topNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: #fff;
}

#topNav p {
	float: left;
	padding-left: 35px;
	font: 20px Helvetica;
  line-height: 60px;
  color: #333;
}

#topNav li {
	font: 16px Helvetica;
  line-height: 62px;
  float: right;
  padding-right: 30px;
  color: #333;
}

#topNav li:hover {
  text-decoration: line-through;
  color: #e74632;
  cursor: pointer;
}




/* GO TO TOP */

#top-button{
  display: none;
  z-index: 20;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #3d3d3d;
  background-color: #fff;
  opacity: 0.6;
  padding: 10px;
  border-radius: 25px;
  cursor: pointer;
}

#top-button:hover {
  opacity: 1;
}


#top-button i {
  color:#330066;
}





/* INTRO */

#intro{
  background-image: url(images/fc-image3.jpg);
  height: 700px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


#intro2{
  width: 100%;
  height: 350px;
  background-color: #330066;
  color: white;
}

#intro2 p {
  width: 70%;
  font-family:  helvetica;
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4%;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-in;
}




/* WORKS */


#works{
  background-color: #ccc;
  height: auto;
  font-family: helvetica;
  padding-bottom: 100px;
}

#works .project1, .project2, .project3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizng: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#works .project1 {
  padding-top: 100px;
}

#works img{
  width: 60%;
  border-radius: 10px;
  float: right;
  max-height: 300px;
  max-width: 521px;
  margin-left: 20px;
  margin-top: -20px;
}

#works h2{
  font-size: 40px; 
  line-height: 40px;
  color: #330066;
  padding-bottom: 10px;
  font-weight: bold;
}

#works h3{
  font-size: 20px; 
  line-height: 25px;
  color: #3d3d3d;
  padding-bottom: 20px;
}

#works li {
  font-size: 14px; 
  line-height: 20px;
  color: #3d3d3d;
  padding-bottom: 15px;
  list-style-type: disc;
  margin-left: 15px;
}

#works ul{
  margin-bottom: 20px;
  height: 100%;
}

.button-works  {
  font-weight: bold;
  height: 40px;
  padding: 8px;
  font-size: 16px; 
  line-height: 20px;
  color: #e74632;
  border: #e74632 4px solid;
  background-color: #ccc;
  margin-top: 25px;
  cursor: pointer;
/*  transform: scale(1);*/
}

.button-works:hover {
  text-decoration: none;
  color: white;
  border: #e74632 4px solid;
  background-color: #e74632;
  /*transform: scale(1.2);*/
  transition: all 0.5s ease-in;
}









/* ABOUT */


#about-background {
  background-color: #e74632;
  width: 100%;
  height: auto;
  color: white;
  padding-bottom: 50px;
}

#about {
  transform: translateX(-2000px);
  opacity: 0;
  transition: all 0.6s ease-in;
}

h2 {
  font-size: 45px; 
  line-height: 50px;
  color: #330066;
  padding-bottom: 20px;
  font-weight: bold;
  color: #ED796B;
}

#about h2{
  padding-top: 80px;
  padding-left: 15%;
}


#about p, #about ul{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}


#about li{
  font-size: 18px;
  line-height: 30px;
  list-style-type: disc;
  margin-left: 20px;
}

#about li:last-child {
  font-size: 18px;
  line-height: 30px;
  list-style-type: disc;
  margin-left: 20px;
  padding-bottom: 50px;
}


#about p{
  font-size: 23px;
  line-height: 40px;
  /*padding-top: 30px;*/
}

#about p:last-child {
  padding-top: 50px;
  /*padding-top: 30px;*/
}


#about a{
  color: #F19489;
}






/* TABLET / MOBiLE RESIZING */



@media (max-device-width: 400px) {


  #intro{
    height: 1500px;
  }

  #intro2{
    height: 300px;
  }

  #intro2 p {
    width: 95%;
    font-size: 27px;
    line-height: 40px;
  }

  #works {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


  #works img{
    float: none;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 30px;
  }

  #works h3{
    padding-bottom: 10px;
  }

  #works .project1, .project2, .project3{
    width: 100%;
  }

  #about p{
    font-size: 19px;
    line-height: 30px;
  }

}


@media (max-width: 900px) {

  #intro2 p {
    width: 80%;
    font-size: 25px;
    line-height: 45px;
    padding-top: 4%;
  }

}

@media (max-width: 1030px) {

  #works img{
    float: none;
    width: 110%;
    margin-bottom: 30px;
    margin-left: 0px;
  }
/*
  #works .project1, .project2, .project3{
    width: 50%;
  }*/

}


