/* MAIN STYLES */


a {
	text-decoration: none;
	color: #392757;
}

a:hover {
	text-decoration: line-through;
	color: #e74632;
}


/* TOP NAV */

#topNav {
	position: absolute;
	top: 0;
	left: 0;
	height: 60px;
	width: 100%;
	background-color: #fff;
}

#topNav p {
	float: left;
	padding-left: 35px;
	font: 20px Helvetica;
	/*font-weight: bold;*/
  line-height: 60px;
  color: #333;
}

#topNav li {
	font: 16px Helvetica;
  line-height: 60px;
  float: right;
  padding-right: 30px;
  color: #333;
}

#topNav li:hover {
  text-decoration: line-through;
  color: #e74632;
  cursor: pointer;
}

#intro img{
  z-index: 5;
  width: 100%;
  height: 100%;
}

#intro2{
  margin-top: -10px;
  width: 100%;
  height: 350px;
  background-color: #330066;
  color: white;
}

#intro2 p {
  z-index: 0;
  width: 70%;
  font-family:  helvetica;
  color: white;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 70px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s ease-in;
}



#works{
  background-color: #ccc;
  height: 100%;
  font-family: helvetica;
  padding-bottom: 100px;
}

#works .project1, .project2, .project3{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  -moz-box-sizng: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

#works .project1 {
  padding-top: 100px;
}

#works img{
  width: 60%;
  border-radius: 10px;
  float: right;
  margin-left: 20px;
}

#works h2{
  font-size: 40px; 
  line-height: 40px;
  color: #330066;
  padding-bottom: 10px;
  font-weight: bold;
}

#works h3{
  font-size: 20px; 
  line-height: 20px;
  color: #3d3d3d;
  padding-bottom: 20px;
}

#works li {
  font-size: 14px; 
  line-height: 20px;
  color: #3d3d3d;
  padding-bottom: 15px;
  list-style-type: disc;
  margin-left: 15px;
}

#works button {
  font-weight: bold;
  height: 40px;
  padding: 0 10px 0 10px;
  font-size: 16px; 
  line-height: 20px;
  border: #e74632 4px solid;
  background-color: #ccc;
  margin-top: 15px;
}


#works button a {
  color: #e74632;
}

#works button:hover {
  border: #e74632 4px solid;
  background-color: #e74632;
  color: white;
}

#works button a:hover {
  color: white;
  text-decoration: none;
}

hr {
  margin: 60px;
  border: solid 1px #3d3d3d;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
