@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

/*colors
red =  #E62E00
blue = #25c9e7
green = #62c199
yellow = #FFFF33
// #CC0000
// #3399FF
// #00CC99
// #FFCC00

*/

body{
	margin: 0;
	padding: 0;
	font-family: "Quicksand";
	font-weight: 400;
	font-size: 14pt;
	color: #595959;
	text-align: center;
}

.header {
	width: 25%;
	float: left;
	height: 10px;
	margin-top: 0;
	padding: 0;
}

.HRed {
	background-color: #E62E00;
}

.HBlue {
	background-color: #25c9e7;

}

.HYellow {
	background-color: #FFFF33;
}

.HGreen {
	background-color: #00E6B8;
}

h1 {
	font-family: "Quicksand";
	font-weight: 300;
	font-size: 80pt;
	text-align: center;
	color: #595959;
	margin: 0;
	padding: 0;
	line-height: 70pt;
	padding-top: 30px;
}


h2 {
	font-family: "Quicksand";
	font-weight: 300;
	font-size: 16pt;
	color: #595959;
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 20px;
}

h3 {
	font-family: "Quicksand";
	font-weight: 700;
	font-size: 50pt;
	text-align: center;
	color: #5C5C5C;
	margin: 0px;
	padding: 0px;
}

h4 {
	font-family: "Quicksand";
	font-weight: 300;
	font-size: 40pt;
	text-align: center;
	color: #5C5C5C;
	margin: 0px;
	padding: 0px;
}

h5 {
	font-family: "Quicksand";
	font-weight: 300;
	font-size: 18pt;
	text-align: center;
	color: #5C5C5C;
	margin: 0px;
	padding: 0px;
}


#content {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 500px;
	margin-bottom: 15px;
}


#pies {
	float: left;
	width: 530px;
	margin-bottom: 50px;
	
}

#sideNav{
	float:left;
/*	border: solid 1px #A1A1A1;*/
	width:200px;
	height: 260px;
	background-color: #E6E6E6;
	margin-top: 90px;
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 30px;
	padding-bottom: 20px;

}

.eachPie {
	float: left;
	margin-right: 10px;
	width: 240px;
	height: 240px;
}

.newRow {
	clear: both;
	height: 0;
	margin-bottom: 10px;
}


.button {
	width: 100px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF6600;
	border-radius: 8px;
	text-align: center;
	font-family: "Quicksand";
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13pt;
	color: #fff;
	line-height: 35px;

}

.button:hover {
	background-color: #FF3300;
	font-weight: 700;
}

.button:active {
	background-color: #FF0000;
	font-weight: 700;
}

.info {
	padding-top: 20px;
}


.red {
	border-top-left-radius: 300px;
	background-color: #E62E00;
}

.blue {
	border-top-right-radius: 300px;
	background-color: #25c9e7;
}

.green {
	border-bottom-left-radius: 300px;
	background-color: #00E6B8;
}

.yellow {
	border-bottom-right-radius: 300px;
	background-color: #FFFF33;
}

.redLight {
	border-top-left-radius: 300px;
	background-color: #CC0000;
}

.blueLight {
	border-top-right-radius: 300px;
	background-color: #3399FF;
}

.greenLight {
	border-bottom-left-radius: 300px;
	background-color: #00CC99;
}

.yellowLight {
	border-bottom-right-radius: 300px;
	background-color: #FFCC00;
}

.timer {
	font-size: 40pt;
}

.round {
	font-size: 40pt;
}


.loser {
/*	display: none;*/
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: #fff;
	opacity: 0.9;
}


.loserBox{

	width: 500px;
	height: 150px;
	padding: 20px;
	margin-top: 250px;
	margin-left: auto;
	margin-right: auto;

}

.score {
	margin-top: 30px;
	clear: both;
	height: 200px;
	width: 100%;
	border-top: dashed 1px #E6E6E6;
	color: #595959

}

ul {
	font-family: "Quicksand";
	font-weight: 300;
	font-size: 40pt;
	text-align: center;
	color: #5C5C5C;
	margin: 0px;
	padding: 0px;
}

li {
	margin-top: 10px;
	list-style-type: decimal;
	font-family: "Quicksand";
	font-weight: 400;
	font-size: 14pt;
}

#name {
	margin-top: 40px;
	width: 500px;
	height: 50px;
	font-weight: 300;
	font-size: 20pt;
	text-align: center;
	color: #5C5C5C;
	line-height: 50px;
	margin-bottom: 15px;
}

.submit {
	width: 100px;
	height: 35px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FF6600;
	border-radius: 8px;
	text-align: center;
	font-family: "Quicksand";
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13pt;
	color: #fff;
	line-height: 35px;

}

.close {
	height: 50px;
	width: 50px;
	background-image: url(close-button.svg);
	border: none;
}

.close:hover{
	height: 50px;
	width: 50px;
	background-image: url(close-button2.svg);
	border: none;
}




/*#footer{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 55px;
	width: 100%;
	background-color: #C4C4C4;
	text-align: center;
	font-family: "Quicksand";
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13pt;
	color: #E6E6E6;
	border-top: solid 3px #737373;
	padding-top: 0px;

}*/
